
	#audio_conteneur2{
		position: absolute;
	}
	
	
	.cvs_audio{
		box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	}
	
	.ctn_controle{
		position:relative;
		top:-255px;
		left:70px;
		height:180px;
		width:160px;
	}
	
	.touche{

		margin:auto;
		margin-top:20px;
		display:inline-block;
		width:160px;
	}
	
	.precedent{
		-webkit-filter: drop-shadow(5px 5px 5px rgba(119, 119, 119, 0.75));
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.75));
		float:left;
		width:18px;
		height:16px;
		margin-top:30px;
		opacity:0.9;
		background-image:url("precedent.png");
		background-size:100% 100%;
	}
	
	.btn_play{
		-webkit-filter: drop-shadow(5px 5px 5px rgba(119, 119, 119, 0.75));
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.75));
		display:block;
		width:72px;
		height:72px;
		margin-left:45px;
		opacity:0.9;
		background-image:url("play.png");
		background-size:100% 100%;
	}
	
	.btn_pause{
		-webkit-filter: drop-shadow(5px 5px 5px rgba(119, 119, 119, 0.75));
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.75));
		display:block;
		width:72px;
		height:72px;
		margin-left:45px;
		opacity:0.9;
		background-image:url("pause.png");
		background-size:100% 100%;
	}
	
	.suivant{
		-webkit-filter: drop-shadow(5px 5px 5px rgba(119, 119, 119, 0.75));
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.75));
		width:18px;
		height:16px;
		float:right;
		margin-right:0px;
		opacity:0.9;
		margin-top:-40px;
		background-image:url("suivant.png");
		background-size:100% 100%;
	}
	
	.precedent:hover, .suivant:hover, .btn_play:hover{
		opacity:1;
		cursor:pointer;
	}
	
	.volbar{
		height:10px;
		background:white;
		width:100px;
		margin:auto;
		margin-top:20px;
		border-radius:5px;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
		opacity:0.9;
	}
	
	.volbar:hover{
		opacity:1;
		cursor:pointer;
	}
	
	.volcur{
		height:10px;
		background:#7FFFBF;
		width:hinerit;
		border-radius:5px;
	}
	
	.tmpval{
		width:100px;
		margin:auto;
		margin-top:30px;
		text-align:center;
		color:white;
		text-shadow: 10px 10px 10px #232711;
		cursor:pointer;
	}
	
	
	/* partie pour le lecteur bleue on surcharge les class*/
	
	.position{
		margin-left:26px;
		margin-top:-40px;
	}
	
	.position .btn_play{
		margin-top:0px;
		background-image:url("cc.png");
		width:100px;
		height:100px;
		margin-left:30px;
		background-size:100% 100%;
	}
	
	.position .btn_pause{
		
		background-image:url("aa.png");
		margin-left:30px;
		width:100px;
		height:100px;
	}
	
	.position .volcur{
		
		background:#04C4F9;
	}
	
	.position .volbar{
		
		background:none;
		border:1px solid #04C4F9;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
		
	}
	
	.position .tmpval{
		
		color:#04C4F9;
	}

	/* partie pour le lecteur bleue on surcharge les class*/
	
	.position2{
		margin-left:10px;
		margin-top:-35px;
	}
	
	.position2 .btn_play{
		margin-top:0px;
		background-image:url("ccr.png");
		width:100px;
		height:100px;
		margin-left:30px;
		background-size:100% 100%;
	}
	
	.position2 .btn_pause{
		
		background-image:url("aar.png");
		margin-left:30px;
		width:100px;
		height:100px;
	}
	
	.position2 .volcur{
		
		background:#FF456A;
	}
	
	.position2 .volbar{
		
		background:none;
		border:1px solid #FF456A;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
		
	}
	
	.position2 .tmpval{
		
		color:#FF456A;
	}