body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
}

.background {
    stroke-width: 0;
    fill: Lavender;
    fill-opacity: 0.3;
}

.axis .domain, .axis .tick line {
    stroke-width: 2px;
    stroke: DarkSlateGrey;
}

.axis .tick:first-of-type {
    display: none;  /* hide 0 tick */
}

.axis .tick text {
    font-size: 16px;
}

.minor-ticks text, .minor-ticks path {
    display: none;  /* Hide all but ticks */
}

.pointers rect {
    fill-opacity: 0.7;
}

.pointers .hour, .pointers .min {
    fill: green;
}

.pointers .sec {
    fill: red;
}

.pointers .center {
    fill: darkgrey;
}